* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000000;
}

h1 {
  text-align: center;
  margin: 100px auto 1px;
  font-weight: 600;
  font-size: 100px;
}

p {
  text-align: center;
  margin: 1px auto 20px;
  /* font-weight: 600; */
}

i.material-icons {
  font-size: 30px;
}

form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
}

form input {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: 1;
  height: 100%;
  border: 1;
  outline: 0;
  background: transparent;
  color: #000000;
  font-size: 18px;
  padding: 0 30px;
}

form button {
  padding: 0 40px;
  height: 100%;
  background: #000000;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

::placeholder {
  font-size: 18px;
  color: #000000;
}

#show-more-btn {
  background: #000000;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}

#search-result {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

#search-result img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}

#search-result img:hover {
  transform: scale(1); /* atau properti lain sesuai keinginan Anda */
}
